body{
  background-color:#0000001f;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.image {
  widows: 370px;
  margin-top: 50px;
}

@media (max-width: 770px) {
   .container {
     margin: 0 10px;
   }

   .image {
      max-width:100%
   }
}